<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>小湖 - 管理员</title>

    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <link href="${ctxPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${ctxPath}/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="${ctxPath}/static/css/style.css?v=4.1.0" rel="stylesheet">
    <script>if (window.top !== window.self) {
        window.top.location = window.location;
    }</script>
    <script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
    <style type="text/css">
        #achieve{
            background-color: #f4511e;
            color: white;
            padding: 8px 15px;
            text-align: center;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

    <script type="text/javascript">


        function validate() {
            var pwd1 = $('input[name="password"]').val();
            var pwd2 = $('input[name="pwd2"]').val();
            if( pwd1 == pwd2 ){
                $("#tishi").html("两次密码相同").css("color","green");
                $('input[name="tijiao"]').removeAttr("disabled");
            }else {
                $("#tishi").html("两次密码不相同").css("color","red");
                $('input[name="tijiao"]').attr("disabled","");
            }
        }



        function ckPhone(){
            var phone = document.getElementById("phone");
            var contextPath = document.location;
            $.ajax({
                type: "GET",
                url:contextPath+"/achieve?phone="+phone.value,
                dataType:"text",
                success:function(data){
                    if(data == 1){
                        alert("短信发送成功！！");
                    }else{
                        alert("短信发送失败！！");
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    alert("短信发送失败！！！");
                }
            });
        }

    </script>

</head>
<body>

<div class="middle-box text-center loginscreen">
    <div style="padding: 100px 0px;">
        <h2>欢迎进入管理员修改密码页面</h2>
        <br/>
        <h4 style="color: red;">${xxx!}</h4>
        <form class="m-t" role="form" action="${ctxPath}/activation" method="post">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="用户名" required="">
            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="电话号码" required="">
                        </td>
                        <td>
                            <input type="button" name="achieve" id="achieve" value="获取短信验证码" onclick="ckPhone()">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <input type="text" name="phonekaptcha" class="form-control" placeholder="短信验证码" required="">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="新密码" required="">
            </div>
            <div class="form-group">
                <input type="password" name="pwd2" class="form-control" placeholder="请再次输入密码" required="" onkeyup="validate()"><span id="tishi"></span>
            </div>

            <input type="submit" name="tijiao"  class="btn btn-primary block full-width m-b" value="确认">
        </form>
    </div>
</div>
</body>


</html>